/* Page 1 is introduction, page 2 is gallery */
.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    left: 0px;
    top: 0px;
}

#page1 {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(200,200,200,1) 100%);
}

#page2 {
    position: absolute;
    top: 100%;
    min-width: 100%;
    min-height: 100%;    
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    color: #dedede;
}

#titleWrapper {
    padding: 0px;
    border: 0px;
    text-align: center;
    position: relative;
    top: 20%;
    color: #333;
}

#name {
    font-family: "Lucida Console" sans-serif;
    font-size: 3em;
    font-variant: small-caps;
    color: black;
}

#whereabouts {
    padding-top: 10px;
    line-height: 1.7em;
    font-family: "Trebuchet MS" sans-serif;
}

#position {
    font-size: 1.2em;
    font-weight: bold;
}

#school {
    font-size: 0.9em;
}

#contactButtons img {
    margin-top: 15px;
    width: 28px;
    margin-right: 60px;
}

#contactButtons a:last-child > img {
    margin-right: 0px;
}

#about {
    text-align: left;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: "Georgia" serif;
}

#about > #text {
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 7px;
    line-height: 1.8em;
}

#about > h3 {
    font-variant: small-caps;
    font-family: "Verdana" sans-serif;
    color: rgba(1, 72, 16, 0.9);
    font-size: 1.3em;
    margin-left: -6%;
}

.content_images {
    position: relative;
}

.col-sm-4 {
    overflow: hidden;
    margin-bottom: 15px;
}

.content_images > img:last-child {
    position: relative;
}

.content_images > img {
    position: absolute;
    top: 0px;
    width: 80%;
    margin-left: 10%;
    opacity: 0.0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.col-sm-4:hover .info {
    transform: translateY(-101%);
    -moz-transform: translateY(-101%);
    -webkit-transform: translateY(-101%);
}

.info {
    background-color: rgba(78, 116, 166, 0.8);
    position: absolute;
    color: #fff;
    z-index: 300;
    transition: all 300ms ease-out;
    display: block;
    top: 100px;
    width: 40%;
    left: 30px;
    padding: 0px 8px 0px 10px;
    height: 40px;
}

.info > a {
    color: #fff;
}

#barContainer {
    margin-bottom: 15px;
    margin-left: 10%;
    fill: white;
}

img.shown {
    opacity: 1;
    z-index: 100;
}
